:root{
    --background: #F0E5DE;
    --background-input: #ffffff;
    --text-primary: #000;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: #fff;
}

[data-theme='dark'] {
    --background: #000;
    --background-input: #000;
    --text-primary: #fff;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #DCDDFA;
  background: radial-gradient(circle,#fddcff 0%,#DCDDFA 100%);
}

a{
    color: var(--text-secondary);
}

.login-toggle{
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: .8rem;
    transition: all .5s;
}

.login h1{
    text-align: center;
    margin: -6rem 0 2rem;
    font-size: 48px;
}

h2{
    text-align: center;
    padding: 1rem;
}

.theme-toggle i{
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
}

.theme-toggle{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 12px var(--border);
    border-radius: 8px;
    background-color: var(--form-bg);
}

.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top i{
    font-size: 1rem;
}

.divider{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--text-primary);
    line-height: .1rem;
    margin: 2rem 0;
}

span{
    padding: 0 10px;
    background-color: var(--form-bg);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    margin: 8px 0;
    font-weight: 600;
}

input{
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid var(--border);
    background: var(--background-input);
    color: var(--text-primary);
}

i{
    transition: all .2s ease-in-out;
}
#signup-btn{
    
    background-color: black;
    color: #B89BF7;
    border-radius: 14px;
    transition: all(.9s);
    border: 1px solid var(--accent);
    margin: 3% 0%;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .8rem;
}

.create{
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

 @media screen and (max-width: 478px) {
    .login{
        width: 95%;
    }
 }