@font-face {
    font-family: cinzel;
    src: url('../assets/CinzelDecorative-Regular.ttf');
}
body{
    background-color: #F0E5DE;
}
.dashboard{
    height: 100vh;
    width: 100vw;
}
.firstLine{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.logo{
    font-family: cinzel, 'Times New Roman', Times, serif;
    display: flex;
    position: relative;
    top: 0%;
    color: black;
    font-size: 3rem;
    font-weight: 500;
    width: 13rem;
    margin-left: 2rem;
}

.userName{
    width: 60%;
    margin-left: 20%;
    font-size: 7rem;
    text-align: center;
    font-family: cinzel;
    text-transform: uppercase;
    position: relative;
    top: 0%;
    margin-bottom: 2%;
}
.buttons{
    width: 60%;
    margin-left: 20%;
    display: inline;
}
.dash-btns{
    background: black;
    color: #B89BF7;
    width: 10dvw;
    margin: 0% 5%;
}
.dash-btns:hover{
    background-color: rgb(67, 66, 66);
    transform: scale(1.1);
}
.weatherBtn, .wardrobeBtn{
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border: 2px solid black;
    font-size: 2rem;
}