*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.landingPage{
  width: 100vw;
  background: #DCDDFA;
  background: radial-gradient(circle,#fddcff 0%,#DCDDFA 100%);
}
.top-bar{
  width: 100dvw;
  height: 6.5dvh;
  display: inline-flex;
}
.logo{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: cinzel-decorative;
  width: 50%;
}
.menu-links{
  margin-left: 25%;
  width: 12%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about{
  margin-right: 10%;
}

#contact{
  margin-left: 10%;
}
#slogan{
  font-size: 5rem;
  line-height: 90px;
  font-family: cinzel-decorative;
  font-weight: 800;
}
p{
  font-size: large;
  font-weight: 400;
}
.content{
  display: inline-flex;
  height: 92.5dvh;
}
.descriptions{
  width: 46%;
  height: 52%;
  margin-left: 2%;
  margin-top: 6%;
}
#explain{
  margin-top: 2dvh;
  width: 80%;
  font-family: 'Open Sans', sans-serif;

}
.clothing{
  width: 54%;
  border-top-left-radius: 20%;
  background: #EBC5FB;
  background: radial-gradient(circle, #f49bf7 0%, #B89BF7 100%);
}
img{
  border-top-left-radius: 20%;
  max-width: 100%;
  max-height: 90dvh;
  margin-top: 2dvh;
}

/* Button styles*/
#start-btn{
  width: 10vw;
  background-color: black;
  color: #B89BF7;
  border-radius: 14px;
  transition: all(.9s);
}
#start-btn:hover{
  cursor:pointer;
  background-color: rgb(67, 66, 66);
  transform: scale(1.1);
}
