img {/* Ensures the aspect ratio is maintained */
  max-width: 100%;
  height: auto; 
}
.left{
  text-align: left;
}
h2{
  text-align: left;
  padding: 0px;
}
.full {
  width: 100vw;
  max-width: 100vw;
}
.left{
  /* background-color: red; */
}
.right{
  /* background-color: blue; */
}