*{
  margin: 0;
  padding: 0;
}
.logo{
  font-family: 'Cinzel Decorative', cursive;
  display: flex;
  position: relative;
  right: -70%;
  width: 100%;
  color: white;
  font-size: 6rem;
  font-weight: 500;
}
.landingPage{
  background-image: url('./assets/banner2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.buttons{
  display: block;
  width: 10%;
  height: 10%;
  margin-left: 4rem;
}
/* Buttons */
button{
  width: 100%;
  height: 2.5rem;
  font-family: 'Poppins','Cinzel Decorative', cursive;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  border-radius: 16px;
  color: white;
  transition: all (0.3s);
}

button:hover{
  cursor:pointer;
  transform: scale(1.3);
}
#btn-start{
  background-color: #D05E2B;
  margin-bottom: 1rem;
}
#btn-sign{
  background-color: #1A4635;
}

.welcome{
  margin-left: 4rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', arial;
  font-size: 1.6rem;
  color: black;
  width: 25%;
}


